@if (services$ | async; as services) {
  <main
    id="services"
    class="scrollto clearfix"
    >
    <main class="row no-padding-bottom clearfix">
      <!--Content Left Side-->
      <main class="col-3">
        <!--User Testimonial-->
        <blockquote class="testimonial text-right bigtest">
          <q
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua</q
            >
            <footer>— John Doe, Happy Customer</footer>
          </blockquote>
          <!-- End of Testimonial-->
        </main>
        <!--End Content Left Side-->
        <!--Content of the Right Side-->
        <main class="col-3">
          <main class="section-heading">
            <h3>{{ services.tagline }}</h3>
            <h2 class="section-title">{{ services.title }}</h2>
            <p class="section-subtitle">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet!</p>
          </main>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet!</p>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet!</p>
          <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
          <button
            href="#"
            data-videoid="UYJ5IjBRlW8"
            data-videosite="youtube"
            class="button video link-lightbox" aria-label="Abrir vídeo">
            WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
          </button>
        </main>
        <!--End Content Right Side-->
        <main class="col-3">
          <img src="assets/images/dancer.jpg" alt="Dancer" />
        </main>
      </main>
    </main>
  }
