@if (services$ | async; as services) {
  <main
    id="services"
    class="scrollto clearfix"
     role="landmark">
    <main class="row no-padding-bottom clearfix" role="landmark">
      <!--Content Left Side-->
      <main class="col-3" role="landmark">
        <!--User Testimonial-->
        <blockquote class="testimonial text-right bigtest">
          <q
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua</q
            >
            <footer>— John Doe, Cliente Satisfeito</footer>
          </blockquote>
          <!-- End of Testimonial-->
        </main>
        <!--End Content Left Side-->
        <!--Content of the Right Side-->
        <main class="col-3" role="landmark">
          <main class="section-heading" role="landmark">
            <h2>{{ services.tagline }}</h2>
            <h2 class="section-title">{{ services.title }}</h2>
            <ul class="section-subtitle">{{ services.description }}</ul>
          </main>
          <ul>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
            illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.
          </ul>
          <ul>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
            sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
            sit amet!
          </ul>
          <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
          <button
            href="#"
            data-videoid="UYJ5IjBRlW8"
            data-videosite="youtube"
            class="button video link-lightbox" aria-label="Botão para assistir vídeo">
            WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
          </button>
        </main>
        <!--End Content Right Side-->
        <main class="col-3" role="landmark">
          <img src="assets/images/dancer.jpg" alt="Dancer" />
        </main>
      </main>
    </main>
  }
