@if (services$ | async; as services) {
  <main
    id="services"
    class="scrollto clearfix"
    >
    <main class="row no-padding-bottom clearfix">
      <!--Content Left Side-->
      <main class="col-3">
        <!--User Testimonial-->
        <blockquote class="testimonial text-right bigtest">
          <q
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua</q
            >
            <footer>— John Doe, Happy Customer</footer>
          </blockquote>
          <!-- End of Testimonial-->
        </main>
        <!--End Content Left Side-->
        <!--Content of the Right Side-->
        <main class="col-3">
          <main class="section-heading">
            <h1>{{ services.tagline }}</h1>
            <h2 class="section-title">{{ services.title }}</h2>
            <p class="section-subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </main>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
          <button
            href="#"
            data-videoid="UYJ5IjBRlW8"
            data-videosite="youtube"
            class="button video link-lightbox" aria-label="Botão para assistir ao vídeo">
            WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
          </button>
        </main>
        <!--End Content Right Side-->
        <main class="col-3">
          <img src="assets/images/dancer.jpg" alt="Dancer" />
        </main>
      </main>
    </main>
  }
