@if (footer$ | async; as footer) {
  <footer id="landing-footer" class="clearfix">
    <nav class="row clearfix" tabindex="-1">
      <nav id="copyright" class="col-2">
        {{ footer.tagline }}
        <button routerLink="{{ footer.developerlink }}">{{ footer.developer }}</button>
      </nav>
      <!--Social Icons in Footer-->
      <nav class="col-2" style="text-align: right" tabindex="-1">
        <buttonpp-social></app-social>
      </nav>
      <!--End of Social Icons in Footer-->
    </nav>
  </footer>
}
