<section class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s" tabindex="-1" aria-label="{{ feature.title }}">
	<!--Icon-->
	<section class="icon" tabindex="-1" aria-label="{{ feature.title }}">
		<p class="fa fa-{{ feature.icon }} fa-2x" aria-label="{{ feature.title }}" alt="Ícone de {{ feature.icon }}" tabindex="-1">Ícone de {{ feature.icon }}</p>
	</section>
	<!--Icon Block Description-->
	<section class="icon-block-description" tabindex="-1" aria-label="{{ feature.title }}">
		<h1>{{ feature.title }}</h1>
		<p aria-label="Descrição simplificada da característica" alt="Ícone de {{ feature.icon }}">Descrição simplificada da característica</p>
	</section>
</section>
