<button class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s" tabindex="-1" aria-label="{{ feature.title }}">
	<!--Icon-->
	<button class="icon" tabindex="-1" aria-label="{{ feature.title }}">
		<i class="fa fa-{{ feature.icon }} fa-2x" aria-label="{{ feature.title }}" alt="Ícone de {{ feature.icon }}"></i>
	</button>
	<!--Icon Block Description-->
	<button class="icon-block-description" tabindex="-1" aria-label="{{ feature.title }}">
		<h2>{{ feature.title }}</h2>
		<p>Descrição simplificada da característica</p>
	</button>
</button>
