<div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s" tabindex="-1" aria-label="{{ feature.title }}">
	<!--Icon-->
	<div class="icon" tabindex="-1" aria-label="{{ feature.title }}">
		<i class="fa fa-{{ feature.icon }} fa-2x" aria-label="{{ feature.title }}" alt="Ícone de {{ feature.icon }}">Ícone de {{ feature.icon }}</i>
	</div>
	<!--Icon Block Description-->
	<div class="icon-block-description" tabindex="-1" aria-label="{{ feature.title }}">
		<h1>{{ feature.title }}</h1>
		<p>Descrição simplificada da característica</p>
	</div>
</div>
