@if (header$ | async; as header) {
	<main tabindex="-1">
		<header
			id="banner"
			class="scrollto clearfix shift-left"
			data-enllax-ratio=".5"
			[style.background]="
				'url(../assets/images/banner-images/' +
				header.image +
				' ) no-repeat center top;'
			">
			<main id="banner-content" class="row clearfix pull-right" tabindex="-1">
				<main class="col-38" tabindex="-1">
					<main class="section-heading" tabindex="-1">
						<h1 aria-label="Título da página">Tagline</h1>
						<h1 aria-label="Subtítulo da página">Tagline</h1>
					</main>
					<button routerLink="{{ header.buttonlink }}" class="button" aria-label="Botão para enviar">{{
						header.buttontext
					}}</button>
				</main>
			</main>
		</header>
	</main>
}
