@if (header$ | async; as header) {
	<main tabindex="-1" role="banner">
		<main
			id="banner"
			class="scrollto clearfix shift-left"
			data-enllax-ratio=".5"
			[style.background]="
				'url(../assets/images/banner-images/' +
				header.image +
				' ) no-repeat center top;'
			" role="banner" tabindex="-1">
			<main id="banner-content" class="row clearfix pull-right" tabindex="-1" role="banner">
				<main class="col-38" tabindex="-1" role="banner">
					<main class="section-heading" tabindex="-1" role="banner">
						<h1 aria-label="Tagline">Tagline</h1>
						<h2 aria-label="Título">{{ header.title }}</h2>
					</main>
					<button routerLink="{{ header.buttonlink }}" class="button" aria-label="Botão" role="button">Botão</button>
				</main>
			</main>
		</main>
	</main>
}
