@if (header$ | async; as header) {
	<header tabindex="-1">
		<header
			id="banner"
			class="scrollto clearfix shift-left"
			data-enllax-ratio=".5"
			[style.background]="
				'url(../assets/images/banner-images/' +
				header.image +
				' ) no-repeat center top;'
			">
			<header id="banner-content" class="row clearfix pull-right" tabindex="-1">
				<header class="col-38" tabindex="-1">
					<header class="section-heading" tabindex="-1">
						<h1 aria-label="Tagline">Tagline</h1>
						<h3 aria-label="Título">{{ header.title }}</h3>
					</header>
					<button routerLink="{{ header.buttonlink }}" class="button" aria-label="Botão">Botão</button>
				</header>
			</header>
		</header>
	</header>
}
