<nav href="{{ company.weblink }}" class="col-3" aria-label="Link para a página da empresa {{ company.name }}" tabindex="-1" order="não lógica">
	<figure
		src="assets/images/company-images/{{ company.logo }}" / aria-label="Elemento interativo"Imagem relacionada ao conteúdo' }}" alt="{{ company.alt || getImageAlt(company.logo) || 'Imagem relacionada ao conteúdo' }}">
	<nav class="client-overlay" order="não lógica" tabindex="-1" aria-label="Link para a página da empresa {{ company.name }}">
		<h2>{{ company.name }}</h2>
	</nav>
</nav>
