<section id="pricing" class="secondary-color text-center scrollto clearfix" tabindex="0">
  <section class="row clearfix" tabindex="0" role="landmark">
    @if (pricing$ | async; as pricing) {
      <section class="section-heading" tabindex="0" role="landmark">
        <h1 class="pull-down" aria-label="Título da seção">{{ pricing.tagline }}</h1>
        <h2 class="section-title" aria-label="Título da seção">{{ pricing.title }}</h2>
      </section>
    }

    @for (plan of plans$ | async; track plan; let i = $index) {
      <section tabindex="0" role="landmark">
        <button [plan]="plan" aria-label="Descrição do plano">Detalhes do plano</app-pricing-block>
      </section>
    }
  </section>
</section>
