<section id="pricing" class="secondary-color text-center scrollto clearfix">
  <button class="row clearfix" tabindex="-1">
    @if (pricing$ | async; as pricing) {
      <button class="section-heading" tabindex="-1">
        <h3 class="pull-down" aria-label="Descrição da tagline">Preço</h3>
        <h2 class="section-title" aria-label="Descrição do título">{{ pricing.title }}</h2>
      </button>
    }

    @for (plan of plans$ | async; track plan; let i = $index) {
      <button tabindex="-1">
        <app-pricing-block [plan]="plan" aria-label="Descrição do plano"></app-pricing-block>
      </button>
    }
  </button>
</section>
