@if (intro$ | async; as intro) {
	<section id="about" class="introduction scrollto pull-right">
		<main class="row clearfix" tabindex="-1">
			<main class="col-3" tabindex="-1">
				<main class="section-heading" tabindex="-1">
					<h1>{{ intro.tagline }}</h1>
					<h1 class="section-title">{{ intro.title }}</h1>
					<p class="section-subtitle">Texto simplificado da descrição da seção</p>
				</main>
			</main>
			@if (features$) {
				<main class="col-2-3" tabindex="-1">
					@for (feature of features$ | async; track feature; let i = $index) {
						<main tabindex="-1">
							<app-feature-block [feature]="feature">Bloco de recurso</app-feature-block>
						</main>
					}
				</main>
			}
		</main>
	</section>
}
