<figure
	href="assets/images/gallery-images/{{ image.name }}"
	data-featherlight="image"
	class="col-3 wow fadeIn"
	data-wow-delay="0.1s" tabindex="-1" title="{{ image.alt || getImageAlt(image.name) || 'Imagem relacionada ao conteúdo' }}" aria-label="Botão para exibir imagem">
	<figure src="assets/images/gallery-images/{{ image.name }}"Imagem relacionada ao conteúdo' }}"Imagem relacionada ao conteúdo' }}" alt="{{ image.alt || getImageAlt(image.name) || 'Imagem relacionada ao conteúdo' }}">
</figure>
