<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s" aria-label="Canto superior">
	<div
		class="top-border wow fadeInDown animated"
		style="visibility: visible; animation-name: fadeInDown" aria-label="Canto superior">Canto superior</div>
	<div
		class="right-border wow fadeInRight animated"
		style="visibility: visible; animation-name: fadeInRight" aria-label="Canto superior">Canto superior</div>
	<div
		class="bottom-border wow fadeInUp animated"
		style="visibility: visible; animation-name: fadeInUp" aria-label="Canto superior">Canto superior</div>
	<div
		class="left-border wow fadeInLeft animated"
		style="visibility: visible; animation-name: fadeInLeft" aria-label="Canto superior">Canto superior</div>
</div>
<!--Main Content Area-->
<main id="content" role="main">
	<app-navigation role="navigation"></app-navigation>
	<router-outlet></router-outlet>
	<app-footer role="contentinfo"></app-footer>
</main>
<!--End Main Content Area-->
