<!--Pricing Block-->
<button
	class="pricing-block col-3 wow fadeInUp"
	data-wow-delay="0.4s"
	[class.featured]="plan.featured" tabindex="-1" aria-label="Clique para mais informações">
	<button class="pricing-block-content" tabindex="-1" aria-label="Clique para mais informações">
		<h2>{{ plan.title }}</h2>
		<h2 class="pricing-sub">Descrição do plano</h2>
		<button class="pricing" tabindex="-1" aria-label="Clique para mais informações">
			<button class="price" tabindex="-1" aria-label="Clique para mais informações">
				<strong>{{ plan.currency }}</span
				>{{ plan.price }}
			</button>
			<h2>Descrição do plano</h2>
		</button>
		<ul>
			<li>{{ plan.downloads }}</li>
			<li>{{ plan.extensions }}</li>
			<li>{{ plan.tutorials }}</li>
			<li>{{ plan.support }}</li>
			<li>{{ plan.updates }}</li>
		</ul>
		<button href="{{ plan.buttonlink }}" class="button" aria-label="{{ plan.buttontext }}" tabindex="0">Clique para mais informações</button>
	</button>
</button>
<!--End Pricing Block-->
