<!--Pricing Block-->
<main
	class="pricing-block col-3 wow fadeInUp"
	data-wow-delay="0.4s"
	[class.featured]="plan.featured" tabindex="-1">
	<main class="pricing-block-content" tabindex="-1">
		<h1>{{ plan.title }}</h1>
		<p class="pricing-sub">Descrição simplificada</p>
		<main class="pricing" tabindex="-1">
			<main class="price" tabindex="-1">
				<strong>{{ plan.currency }}</span
				>{{ plan.price }}
			</main>
			<p>Descrição simplificada</p>
		</main>
		<ul>
			<li>{{ plan.downloads }}</li>
			<li>{{ plan.extensions }}</li>
			<li>{{ plan.tutorials }}</li>
			<li>{{ plan.support }}</li>
			<li>{{ plan.updates }}</li>
		</ul>
		<button href="{{ plan.buttonlink }}" class="button">{{ plan.buttontext }}</button>
	</main>
</main>
<!--End Pricing Block-->
