<nav id="header" class="nav-collapse nav-solid" aria-label="Menu principal">
  <nav class="row clearfix" aria-label="Menu principal">
    <nav class="col-1" aria-label="Menu principal">
      <!--Logo-->
      <nav id="logo" aria-label="Menu principal">
        <!--Logo that is shown on the banner-->
        <button src="assets/images/logo.png" id="banner-logo" alt="Landing Page" / aria-label="Elemento interativo">
        <!--End of Banner Logo-->

        <!--The Logo that is shown on the sticky Navigation Bar-->
        <button
          src="assets/images/logo-2.png"
          id="navigation-logo"
          alt="Landing Page" / aria-label="Elemento interativo">
          <!--End of Navigation Logo-->
        </nav>
        <!--End of Logo-->

        <!-- <aside>
        <app-social></app-social>
      </aside> -->

      <!--Main Navigation-->
      <nav id="nav-main" aria-label="Menu principal">
        <app-navmenu [menu]="menu" [menuOpen]="true" tabindex="-1"></app-navmenu>
      </nav>
      <!--End of Main Navigation-->

      <nav id="nav-trigger" aria-label="Menu principal">
        <button
          [class.open]="menuOpen === true"
          (onClick)="toggleMenu(!menuOpen)"
        (onKeyUp)="toggleMenu(!menuOpen)" aria-label="Abrir/fechar menu"></button>
      </nav>
      <nav id="nav-mobile" aria-label="Menu principal">
        @if (menuOpen === true) {
          <app-navmenu
            [menu]="menu"
            (menuStatus)="toggleMenu($event)"
          [menuOpen]="menuOpen" tabindex="-1"></app-navmenu>
        }
      </nav>
    </nav>
  </nav>
</nav>
<!--End of Header-->
