<main id="header" class="nav-collapse nav-solid" aria-label="Menu principal">
  <main class="row clearfix" aria-label="Menu principal">
    <main class="col-1" aria-label="Menu principal">
      <!--Logo-->
      <main id="logo" aria-label="Menu principal">
        <!--Logo that is shown on the banner-->
        <img src="assets/images/logo.png" id="banner-logo" / aria-label="Elemento interativo" tabindex="-1" alt="Logo Namari">
        <!--End of Banner Logo-->

        <!--The Logo that is shown on the sticky Navigation Bar-->
        <img
          src="assets/images/logo-2.png"
          id="navigation-logo"
          alt="Landing Page" / aria-label="Elemento interativo" tabindex="-1">
          <!--End of Navigation Logo-->
        </main>
        <!--End of Logo-->

        <!-- <aside>
        <app-social></app-social>
      </aside> -->

      <!--Main Navigation-->
      <main id="nav-main" aria-label="Menu principal">
        <app-navmenu [menu]="menu" [menuOpen]="true" tabindex="-1"></app-navmenu>
      </main>
      <!--End of Main Navigation-->

      <main id="nav-trigger" aria-label="Menu principal">
        <img
          [class.open]="menuOpen === true"
          (onClick)="toggleMenu(!menuOpen)"
        (onKeyUp)="toggleMenu(!menuOpen)" aria-label="Abrir/fechar menu" alt="Landing Page" tabindex="-1">Abrir/fechar menu</img>
      </main>
      <main id="nav-mobile" aria-label="Menu principal">
        @if (menuOpen === true) {
          <app-navmenu
            [menu]="menu"
            (menuStatus)="toggleMenu($event)"
          [menuOpen]="menuOpen" tabindex="-1"></app-navmenu>
        }
      </main>
    </main>
  </main>
</main>
<!--End of Header-->
