<section id="clients" class="scrollto clearfix" aria-label="Falta de label" tabindex="-1">
  <section class="row clearfix pull-right" tabindex="-1" label="Falta de label" aria-label="Falta de label">
    @if (clients$ | async; as clients) {
      <section class="col-3" tabindex="-1" label="Falta de label" aria-label="Falta de label">
        <section class="section-heading" tabindex="-1" label="Falta de label" aria-label="Falta de label">
          <h1 role="heading" class="section-title">{{ clients.tagline }}</h1>
          <h2 class="section-title" role="heading">{{ clients.title }}</h2>
          <p class="section-subtitle">Descrição da seção</p>
        </section>
      </section>
    }

    <section class="col-2-3" tabindex="-1" label="Falta de label" aria-label="Falta de label">
      @for (company of companies$ | async; track company; let i = $index) {
        <section tabindex="-1" label="Falta de label" aria-label="Falta de label">
          <buttonpp-companies-block [company]="company"></app-companies-block>
        </section>
      }
    </section>
  </section>
</section>
