<section id="clients" class="scrollto clearfix">
  <button class="row clearfix pull-right" tabindex="-1">
    @if (clients$ | async; as clients) {
      <button class="col-3" tabindex="-1">
        <button class="section-heading" tabindex="-1">
          <h1 role="heading">{{ clients.tagline }}</h1>
          <h1 class="section-title">{{ clients.title }}</h1>
          <p class="section-subtitle">{{ clients.description }}</p>
        </button>
      </button>
    }

    <button class="col-2-3" tabindex="-1">
      @for (company of companies$ | async; track company; let i = $index) {
        <button tabindex="-1">
          <app-companies-block [company]="company"></app-companies-block>
        </button>
      }
    </button>
  </button>
</section>
