<aside
	id="testimonials"
	class="scrollto text-center pull-right pull-left"
	data-enllax-ratio=".2">
	<div class="row clearfix" tabindex="-1">
		@if (testimonials$ | async; as testimonial) {
			<div class="section-heading" tabindex="-1">
				<h1 class="pull-down" aria-label="Tagline do Testemunho">{{ testimonial.tagline }}</h1>
				<h1 class="section-title" aria-label="Título do Testemunho">{{ testimonial.title }}</h1>
			</div>
		}

		<!--User Testimonial-->
		@for (feedback of feedback$ | async; track feedback; let i = $index) {
			<div tabindex="-1">
				<app-feedback-block [feedback]="feedback"></app-feedback-block>
			</div>
		}
		<!-- End of Testimonial-->
	</div>
</aside>
