<aside
	id="testimonials"
	class="scrollto text-center pull-right pull-left"
	data-enllax-ratio=".2" aria-label="Testemunhos">
	<section class="row clearfix">
		@if (testimonials$ | async; as testimonial) {
			<section class="section-heading">
				<h1 class="pull-down">{{ testimonial.tagline }}</h1>
				<h3 class="section-title">Tagline</h3>
			</section>
		}

		<!--User Testimonial-->
		@for (feedback of feedback$ | async; track feedback; let i = $index) {
			<section>
				<app-feedback-block [feedback]="feedback"></app-feedback-block>
			</section>
		}
		<!-- End of Testimonial-->
	</section>
</aside>
