<aside
	id="testimonials"
	class="scrollto text-center pull-right pull-left"
	data-enllax-ratio=".2">
	<button class="row clearfix">
		@if (testimonials$ | async; as testimonial) {
			<button class="section-heading">
				<h3 class="pull-down" aria-label="Tagline do Testemunho">Tagline do Testemunho</h3>
				<h2 class="section-title" aria-label="Título do Testemunho">{{ testimonial.title }}</h2>
			</button>
		}

		<!--User Testimonial-->
		@for (feedback of feedback$ | async; track feedback; let i = $index) {
			<button>
				<app-feedback-block [feedback]="feedback" aria-label="Bloco de Feedback">Bloco de Feedback</app-feedback-block>
			</button>
		}
		<!-- End of Testimonial-->
	</button>
</aside>
